@{ 
    Layout = null;
}
<style>
    #li {
        display: inline-block;

        max-height: 10px
    }

</style>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="">
    <link href="~/HTML - Scorilo 1.0.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/HTML - Scorilo 1.0.1/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700" rel="stylesheet">
  

</head>
<body>

    <!-- HEADER =============================-->
    <header class="item header margin-top-0">
        <div class="wrapper">
            <nav role="navigation" class="navbar navbar-white navbar-embossed navbar-lg navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button data-target="#navbar-collapse-02" data-toggle="collapse" class="navbar-toggle" type="button">
                            <i class="fa fa-bars"></i>
                            <span class="sr-only">Toggle navigation</span>
                        </button>
                        <a href="~/HTML - Scorilo 1.0.1/index.html" class="navbar-brand brand"> ILERI STORE </a>
                    </div>
                    <div id="navbar-collapse-02" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right ">
                            

                            <li class="propClone">@Html.RouteLink("AnaSayfa", new { controller = "Product", action = "Index", category = 0 })</li>
                            <li class="propClone"><a href="checkout.html">Ödeme</a></li>
                            <li class="propClone"><a href="contact.html">İletisim</a></li>
                            <li class="propClone"><a href="contact.html">Giris Yap</a></li>


                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="text-pageheader">
                            <div class="subtext-image" data-scrollreveal="enter bottom over 1.7s after 0.1s">
                                Mağazaya Hoşgeldiniz
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <br />


    
    <div id="navbar-collapse-02" class="collapse navbar-collapse col-md-3">
        <ul class="nav navbar-nav navbar-left ">
           
            <li class="propClone">@{Html.RenderAction("List", "Category");} </li>


        </ul>
    </div>
    <!-- /.sidebar-menu -->

    <div>
        @RenderBody()

    </div>
    <!-- Load JS here for greater good =============================-->
    <script src="~/HTML - Scorilo 1.0.1/js/jquery-.js"></script>
    <script src="~/HTML - Scorilo 1.0.1/js/bootstrap.min.js"></script>
    <script src="~/HTML - Scorilo 1.0.1/js/anim.js"></script>
    <script>
        //----HOVER CAPTION---//
        jQuery(document).ready(function ($) {
            $('.fadeshop').hover(
                function () {
                    $(this).find('.captionshop').fadeIn(150);
                },
                function () {
                    $(this).find('.captionshop').fadeOut(150);
                }
            );
        });
    </script>
</body>
</html>
