@using EntitiesLayer
@model PagedList.IPagedList<Product>

@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<body>

    <!-- CONTENT =============================-->
    
        <div class="col-md-10">
          

            <div class="row">
                @foreach (var item in Model)
                {


                    <div class="col-md-4">
                        <div class="productbox">
                            <div class="fadeshop">
                                <div class="captionshop text-center" style="display: none;">
                                    <h3>@item.ProductName</h3>
                                    <p>
                                        This is a short excerpt to generally describe what the item is about.
                                    </p>
                                    <p>
                                        <a href="#" class="learn-more detailslearn"><i class="fa fa-shopping-cart"></i> Purchase</a>
                                        <a href="#" class="learn-more detailslearn"><i class="fa fa-link"></i> Details</a>
                                    </p>
                                </div>
                                <span class="maxproduct"><img src="~/HTML - Scorilo 1.0.1/images/product1-1.jpg" alt=""></span>
                            </div>
                            <div class="product-details">
                                <a href="#">
                                    <h1> @item.ProductName</h1>
                                </a>
                                <span class="price">
                                    <span class="edd_price">@item.UnitPrice</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- /.productbox -->
                    <!-- /.productbox -->
                    <!-- /.productbox -->
                }
            </div>

        </div>

    </section>
    <style>
        #deneme {
        width: 600px;
        
        margin: auto;
        }
    </style>
    <div id="deneme">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
   {

   LiElementClasses = new List<string> { "page-link" }
   })
    </div>
    <br />
    <!-- CALL TO ACTION =============================-->
    <section class="content-block" style="background-color:#00bba7;">
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="item" data-scrollreveal="enter top over 0.4s after 0.1s">
                        <h1 class="callactiontitle">
                            Promote Items Area Give Discount to Buyers <span class="callactionbutton"><i class="fa fa-gift"></i> WOW24TH</span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER =============================-->
    <div class="footer text-center">
        <div class="container">
            <div class="row">
                <p class="footernote">
                    Connect with Scorilo
                </p>
                <ul class="social-iconsfooter">
                    <li><a href="#"><i class="fa fa-phone"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
                <p>
                    &copy; 2017 Your Website Name<br />
                    Scorilo - Free template by <a href="https://www.wowthemes.net/">WowThemesNet</a>
                </p>
            </div>
        </div>
    </div>

    <!-- Load JS here for greater good =============================-->
    <script src="~/HTML - Scorilo 1.0.1/js/jquery-.js"></script>
    <script src="~/HTML - Scorilo 1.0.1/js/bootstrap.min.js"></script>
    <script src="~/HTML - Scorilo 1.0.1/js/anim.js"></script>
    <script>
        //----HOVER CAPTION---//
        jQuery(document).ready(function ($) {
            $('.fadeshop').hover(
                function () {
                    $(this).find('.captionshop').fadeIn(150);
                },
                function () {
                    $(this).find('.captionshop').fadeOut(150);
                }
            );
        });
    </script>


</body>

